/* Universal Styles */
html {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    background-color: white;
    ;
} 
.body {
    margin: 0;
}

* {
    font-family: sans-serif;
    font-size: 20px;
}
/* Nav Bar */
nav {
    height: 85px;
    position: fixed;
    width: 100%;
    color:  white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    top: 0px;
    z-index: 1000;
}
nav img{
margin: 42px 0px 0px -60px;
}

nav .links {
margin: 30px 30px;
display: flex;
align-items: center;
font-family: 'Courier New', Courier, monospace;
justify-content: space-between;

}
a:hover{
    background-color: green;
    
}
nav a {
    margin-right: 1rem ;
}

header {
    height: 1100px;
    background-image: url('https://source.unsplash.com/YzSZN3qvHeo/900x700');
    display: flex;
    margin: 90px auto 30px auto; 
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
}

header h2 {
    color:white;
    text-align: center;
    font-family: 'Courier new', Courier, monospace;
    width: 100%;
    z-index: 100;
    font-size: 3.5rem;
    margin: 50% auto 100px auto;
    background-color: black;
    max-height: 5rem;
}

#Experience {
    text-align: center;
    min-height: 300px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
.Experience-content h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    font-weight: normal;
    text-align: center;
}

.season {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    min-height: 300px;
    align-content: space-around;
    justify-content: space-evenly;
}
.image-container {
    overflow: hidden;
    max-width: fit-content;
    
}
.image-container img {
    display: block;
    max-width: 80%;
    margin: auto;
    max-height: 210px;
    min-height: 175px;
}

.shows {
    display: block;
    
    align-items: center;
    max-width: 145px;
    max-height: 115px;
   }
   
.shows img {
display: block;
max-width: 100%;
margin: auto;
max-height: 400px;
min-height: 100px;
}

.Content {
    text-align: center;
    display: block;
}

#Our-Team {
    display: flex;
    justify-content: space-between;
    padding: 4rem 5%;
}
.banner {
    color: rgb(255, 255, 255); 
  /* background-color:rgb(112, 111, 126);*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    height: 70px;
    display: flex;
    align-content: center;
    
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.team-member{
    flex: 1;
    padding: 1rem;
    margin: 0px 1.25rem;    
}

.team-member .image-container {
    width: 300px;
    max-height: 350px;
    margin: 0 auto;
    
}
/*.content{

}*/

.content h2 {
    background-color: cadetblue;
    font-size: 2.25rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 65%;
    margin: 25px auto;
}

.content h4 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

/*footer*/
footer {
    height: 95px;
    width: cover;
    /*background-color: rgb(100, 104, 94);*/
    display: block;
}

.contact-information {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 25px;
justify-content: center;
text-align: center;

}

.Bottom-logo{
    justify-content: left;
    top: 65%;
}

/*@media screen (min-width: 630) {
    #Contact {
        position:
    }
*/