/* Universal Styles */
html {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    background-color: white;
    ;
} 
.body {
    margin: 0;
}

* {
    font-family: sans-serif;
    font-size: 20px;
}
/* Nav Bar */
nav {
    height: 85px;
    position: fixed;
    width: 100%;
    color:  white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    top: 0px;
    z-index: 1000;
}
nav img{
margin: 42px 0px 0px -60px;
}

nav .links {
margin: 30px 30px;
display: flex;
align-items: center;
font-family: 'Courier New', Courier, monospace;
justify-content: space-between;

}
a:hover{
    background-color: green;
    
}
nav a {
    margin-right: 1rem ;
}

header {
    background-image: url('https://source.unsplash.com/YzSZN3qvHeo/');
    display: flex;
    margin: 90px auto 5px auto; 
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
}

header h2 {
    color:white;
    text-align: center;
    font-family: 'Courier new', Courier, monospace;
    width: 100%;
    z-index: 100;
    font-size: 2.8rem;
    margin: 50% auto 100px auto;
    background-color: black;

}

#MeetUp {
    text-align: center;
    margin: auto;
    padding-top: 0.183rem;
    padding-bottom: 5px;
    background-color: bisque;
}

.MU-content h2,p,h3  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.Acts {
    display: flex;
    margin-top: 20px;
    min-height: 300px;
    align-content: space-around;
    flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 10px;
}

.Sub-Acts img {
    width: auto;
    height: 300px;
    display: flex;
    image-resolution: 300dpi;
    padding: 10px 10px;
    max-width: 70vw;
}

.Sub-Acts h4 {
    text-align: center;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

/*Meet the Team */
#Oteam {
    margin: auto;
}
.Oteam {
    height: 800px;
    display: flex;
    align-content: center;
    text-align: center;
    width: auto;
    flex-direction: column;
    justify-content: center;
}
.banner h2{
    color: black;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    height: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: bisque;
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.team-member{
    padding: 1rem;
    margin: 0px 1rem;    
}

.team-member img {
    width: 300px;
    max-height: 400px;
    min-height: 210px;
    margin: 0 auto;
    
}
.team-member h2 {
    background-color: bisque;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*footer*/
footer {
    height: 135px;
    width: cover;
    display: block;
    background-color: bisque;
    margin-top: 40px;
    padding-top: 1px;
}

.contact-information {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 25px;
justify-content: center;
text-align: center;

}

#Contact h4{
    top: 65%;
    float: left;
}

@media only screen and (max-width: 320px) {
    .MU-content h2, p, h3 {
        font-size: 15px;
    }
    header {
        height: fit-content;
    }
    header h2 {
        max-height: 100px;
    }
    .Oteam {
        height: 1150px;
    }
    .team-member img {
        max-height: 300px;
    }
}